<html ng-app="meuModulo">
<head>
    <meta charset="utf-8">

    <title> </title>


    <!-- Bootstrap core CSS -->
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script src="app.js"></script>

    <script type="text/javascript">

        angular.module('meuModulo' , []);
        angular.module('meuModulo' , []).controller('meuController', function($scope){

            $scope.message = "hello world";

            $scope.contatos = [

                {nome:'Pedro' , telefone: '0999899899'},
                {nome:'Day' , telefone: '434343433'},
                {nome:'Flavio' , telefone: '767667677'},
            ];

            $scope.adicionarContato = function (contato){
                $scope.contatos.push( angular.copy ( contato ) );
            };
        });

    </script>
</head>

<body>

  <div ng-controller="meuController">

    <h4> {{ message }} </h4>

    <table class="table table-striped">

      <tr>
        <th>Nome</th>
        <th>telefone</th>
      </tr>

      <tr ng-repeat="contato in contatos">
        <td> {{ contato.nome }} </td>
        <td> {{ contato.telefone }}</td>
      </tr>
    </table>

    <hr>

    <input class="form-control" type="text" ng-model="contato.nome" />
    <input class="form-control" type="text" ng-model="contato.telefone" />

    <button classo="btn" ng-click="adicionarContato( contato )">Adicionar</button>
 
  </div>

</body>
</html>
